/**
 * @file
 * Stylesheets used for the Smart Glossary.
 */

* {
  outline: 0;
  outline: none;
}

*:link,
*:visited,
*:hover,
*:active {
  outline: 0;
  outline: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}

/**
 * Definitions for the header of the Smart Glossary.
 */
#smart-glossary-header {
  margin-top: 0;
}

#smart-glossary-header .clearBoth {
  clear: both;
}

#smart-glossary-autocomplete {
  float: left;
}

#smart-glossary-autocomplete input.concept-autocomplete {
  background: url(../images/input_search_icon.png) center right no-repeat;
  padding-right: 25px;
  background-position: 241px;
  width: 230px;
  margin: 0;
  line-height: normal;
  border: 1px solid #d7d7d7;
  line-height: 15px;
  color: #84989f;
  font-size: 12px;
  padding-left: 6px;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/sites/all/libraries/PIE/PIE.php);
}

#smart-glossary-languages {
  float: right;
}

#smart-glossary-languages ul.languages {
  list-style-type: none;
  list-style-image: none;
  padding: 0px;
  margin: 0px;
}

#smart-glossary-languages ul.languages li.language {
  float: left;
  margin-right: 0.5em;
}

#smart-glossary-languages ul.languages li.last {
  margin-right: 0.2em;
}

#smart-glossary-header ul.alphabet {
  list-style-type: none;
  list-style-image: none;
  padding: 0px;
  margin: 1.8em 0 0;
}

#smart-glossary-header ul.alphabet li {
  margin-right: 0.82em;
}

#smart-glossary-header ul.alphabet li.letter.disabled a {
  background: #fafafa;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa), to(#fafafa));
  background: -webkit-linear-gradient(#fafafa, #fafafa);
  background: -moz-linear-gradient(#fafafa, #fafafa);
  background: -ms-linear-gradient(#fafafa, #fafafa);
  background: -o-linear-gradient(#fafafa, #fafafa);
  background: linear-gradient(#fafafa, #fafafa);
  -pie-background: linear-gradient(#fafafa, #fafafa);
  color: #ccc;
}

#smart-glossary-header ul.alphabet li.last {
  margin-right: 0em;
}

#smart-glossary-header ul.alphabet li.letter {
  float: left;
}

#smart-glossary-header ul.alphabet li.letter a {
  text-transform: uppercase;
  border: 1px solid #d7d7d7;
  color: #8297ab;
  font-size: 0.85em;
  font-weight: bold;
  cursor: pointer;
  display: block;
  height: 2em;
  line-height: 1.9em;
  margin: 0;
  text-align: center;
  width: 2em;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #fafafa;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fafafa), to(#e9e9e9));
  background: -webkit-linear-gradient(#fafafa, #e9e9e9);
  background: -moz-linear-gradient(#fafafa, #e9e9e9);
  background: -ms-linear-gradient(#fafafa, #e9e9e9);
  background: -o-linear-gradient(#fafafa, #e9e9e9);
  background: linear-gradient(#fafafa, #e9e9e9);
  -pie-background: linear-gradient(#fafafa, #e9e9e9);
  behavior: url(/sites/all/libraries/PIE/PIE.php);
}

#smart-glossary-header ul.alphabet li.letter a:hover,
#smart-glossary-header ul.alphabet li.letter a:active {
  text-decoration: none;
  background: #e9e9e9;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e9e9e9), to(#fafafa));
  background: -webkit-linear-gradient(#e9e9e9, #fafafa);
  background: -moz-linear-gradient(#e9e9e9, #fafafa);
  background: -ms-linear-gradient(#e9e9e9, #fafafa);
  background: -o-linear-gradient(#e9e9e9, #fafafa);
  background: linear-gradient(#e9e9e9, #fafafa);
  -pie-background: linear-gradient(#e9e9e9, #fafafa);
}

#smart-glossary-header ul.alphabet li.letter.active a {
  text-decoration: none;
  color: #e42032;
}

/**
 * Definitions for the list-view of the Smart Glossary.
 */
#smart-glossary-list {
  margin-top: 1em;
}
 
#smart-glossary-list ul {
  padding: 0 0 0 5px;
  margin: 1em 0 0;
  list-style-image: none;
}

#smart-glossary-list ul li {
  list-style-type: none;
  background: url(../images/list_style_black.png) left top no-repeat;
  background-position: 0 11px;
  padding-left: 15px;
}

#smart-glossary-list ul li a {
  font-size: 14px;
  color: #1072a9;
}
#smart-glossary-list ul li span.term_text {
  font-size: 14px;
}

/**
 * Definitions for the detail-view of the Smart Glossary.
 */
#block-semantic-data {
  height: 1em;
}
#block-semantic-data div {
  float: right;
}
#block-semantic-data div:nth-child(2) {
  padding-right: 1em;
}
#block-semantic-data a {
  background: transparent url("../images/rdf.gif") no-repeat scroll left center / 1em 1em;
  padding-left: 1.4em;
}

#smart-glossary-detail p.definition {
  font-size: 14px;
}

#smart-glossary-detail a {
  font-size: 14px;
  color: #1072a9;
}

#smart-glossary-detail h2 {
  color: #576c85;
  font-size: 1.4em;
  margin: 1em 0;
}

#smart-glossary-detail h3 {
  color: #576c85;
  font-size: 1.17em;
  margin: 1em 0 0;
}

/**
 * Style for conceptLoaded hooks
 */
#smart-glossary-detail .button {
  float: right;
  font-size: 0.78em;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  margin-left: 5px;
  text-align: center;
}

#smart-glossary-detail .show-content{
  margin-top: -1px;
}

#smart-glossary-detail .button a,
#smart-glossary-detail .button a:link,
#smart-glossary-detail .button a:visited,
#smart-glossary-detail .button a:hover,
#smart-glossary-detail .button a:focus,
#smart-glossary-detail .button a:active {
  background: #0099CC;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  color: #fff;
  cursor: pointer;
  display: block;
  height: auto;
  line-height: 2.1em;
  margin: 0;
  padding: 0.2em 1em 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: auto;    
  font-size: 10px;
}

#smart-glossary-detail .button a:hover{
  text-decoration: none;
  background:#0285B1;
}

#smart-glossary-help-area {
  position: absolute;
  padding: 5px 11px;
  border: 2px solid #ccc;
  border-top: none;
  background: rgb(255, 255, 255); /* Fall-back for browsers that don't support rgba */
  background: rgba(255, 255, 255, 0.9);
  display: none;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

#smart-glossary-detail .semantic-connector-concept {
  display: inline;
}

#smart-glossary-detail .semantic-connector-concept ul.semantic-connector-concept-menu ul {
  background: none;
  border:none;
}

#smart-glossary-detail .button ul.semantic-connector-concept-menu ul li a {
  height: auto;
  background:#0e9ece;
  border-radius:0;
  border-top: none;
  border-bottom: none;
  padding:0 5px 5px 5px;
  color:#fff;
}

#smart-glossary-detail .button ul.semantic-connector-concept-menu ul li:first-child a{
  border-radius:5px 5px 0 0;
  padding:5px 5px 5px 5px;
  border-bottom:none;
}

#smart-glossary-detail .button ul.semantic-connector-concept-menu ul li:last-child a{
  border-radius:0 0 5px 5px;
  border-top:none;
}
